<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Api Vue</title>
</head>
<style>
    img{
        width: 300px;
        height: 250px;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .photo{
        display: flex;
        margin-left: 5px;
        flex-direction: column;
    }
</style>
<body>
    <div id="app">
        <h1>Les images de mars</h1>
        <button @click="fetchData(page++)">Recharger des images</button>
        <div class="container" v-if="photos.photos">
            <template v-for="photo in photos.photos">
                <div class="photo">
                    <h2>Robot : {{photo.rover.name}}</h2>
                    <span class="camera_name">
                        Camera : {{photo.camera.full_name}}
                    </span>
                    <img :src="photo.img_src" alt="image" class="img_mars">
                    <span>{{formatDate(photo.earth_date)}}</span>
                </div>
                
            </template>
        </div>
        <div class="container" v-else>
            Pas de photos disponibles
        </div>
    </div>  
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    photos : [],
                    page : 1
                }
            },
            created : function () {
                this.fetchData(this.page);
            },
            methods : {
                fetchData : async function (page){
                    const url = `https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&page=${page}&api_key=`
                    const token = "NJl7BrFTx7ZwbxWbm87IahtTMEtJa7DL65f9aTME"
                    try{
                        const res = await axios.get(url + token)
                        console.log(res.data)
                        this.photos = res.data
                    }catch (error){
                        console.error(error)
                    }
                },
                formatDate : function (date){
                    return new Date(Date.parse(date)).toLocaleDateString('fr-FR')
                }
            }
        }).mount('#app')
    </script>
</body>
</html>